@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

*

/*URGENCIAS TELEFONO*/
h1 {
    color: white;
    font-family: "Nunito Sans", sans-serif;
    font-size: 22px;

    width: 100%;
    text-align: center;
    color: #fff;
    margin: 0 0 10px 0;
    font-size: 20px;

}

.image-banner {
    width: 100%;
    max-width: 100%;
    object-fit:cover;
    margin: auto;
}

.img{
    width: 100%;
    border-radius: 15px;
    box-shadow: 0px 3px 5px rgba(15, 15, 15, .5);
}
.colorFondo {
    background-color: navy;
}

.telefonosutiles{
    text-align: center;
}

/*MENU HAMBURGUESA*/
:root {
    --color_primario: white;
    --color_primario_suave: white;
    --color_blanco: navy;
    --altura_header: 80px;
    --padding_left_right: 2rem;
    --ancho_maximo: 1200px;
}



body {
    background-color: rgba(255, 247, 247, 0.676);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 10px;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

ol,
ul {
    list-style: none;
}

.header {
    height: var(--altura_header);
    background-color: var(--color_primario);
}

.navbar {
    height: 100%;
    display: flex;
    width: min(1200px, 100%);
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 var(--padding_left_right);
}

.menu_hamburguesa {
    display: none;
}

.menu_hamburguesa:checked+.ul_links {
    height: calc(100vh - var(--altura_header));
}

.logo {
    color: var(--color_blanco);
}

.list_icon {
    color: var(--color_blanco);
    cursor: pointer;
}

.ul_links {
    width: 100%;
    background-color: var(--color_primario_suave);
    position: absolute;
    top: var(--altura_header);
    left: 0;
    height: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;

    transition: all .3s;
}

.link {
    font-size: 3em;
    color: var(--color_blanco);
    font-weight: bold;
}

h1.textcenter {
    text-align: center;
}

p {
    color: rgb(0, 0, 0);
    font-size: 1.2rem;
    margin-top: 0;
    margin-bottom: 2rem;
    font-family: 'Open Sans', sans-serif;
}

.block {
    background-color: navy;
    width: auto;
    height: auto;
    border-radius: 7px;
    box-shadow: 5px 5px 10px;

}


.image-banner {
    margin: 0 0 20px 0;
    width: 100%;
    height: 250px;
}

/*MENU HAMBURGUESA*/
h2 {
    color: rgb(0, 0, 0);
    font-family: "Nunito Sans", sans-serif;
    font-size: 22px;
}

.colorfondo2 {
    background-color: rgb(0, 176, 117);
}

h3 {
    color: whitesmoke;
    font-weight: bolder;
    font-family: "open sans", sans-serif;
    font-size: 22px;
}

h4 {
    color: whitesmoke;
    font-family: "open sans", sans-serif;
    font-size: 22px;
}

h5 {
    color: whitesmoke;
    font-family: "open sans", sans-serif;
    font-size: 22px;
}

h6 {
    color: black;
    font-family: "open sans", sans-serif;
    font-size: 22px;
}

@media (min-width:768px) {
    .labe_hamburguesa {
        display: none;
    }

    .ul_links {
        position: static;
        width: auto;
        height: auto;
        flex-direction: row;
        gap: 2rem;
    }

    .link {
        font-size: 1.3rem;
        transition: all .4s;
        padding: .2rem .7rem;
    }

    .link:hover {
        background-color: rgb(231, 231, 231);
        border-radius: 15px;

    }
}


.footercontenedor {
    margin: 0 0 20px 0;
    padding: 5px 0 5px 10px;
    border-left: 5px solid navy;
    display: inline-block;
    flex-direction: column;
}

.imagen {
    max-width: 50%;
    height: 20%;

}

.logo-container {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 1000;
}

.floating-logo {
    width: 80px;
    height: 80px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #f0f0f0;
}

.carousel {
    width: 100%;
    height: 50vh;
    overflow: hidden;
    position: relative;
}

.slides {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    height: 100%;
}

.slide {
    flex: 0 0 100%;
    scroll-snap-align: start;
    box-sizing: border-box;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit:cover ;
}


.navigation button:hover {
    background: rgba(0, 0, 0, 0.8);
}

.blogsaludtitulo {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 32px;
    color: blue;
}


.blogsaludfecha {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color:rgb(0, 176, 117);
}

.blogsaludinfo{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #585858;
    }