.header {
    height: $header-height;
    background-color: $primary-color;
    @include flex-center;

    @media (min-width: 768px) {
        .navbar {
            flex-direction: row;
            gap: 2rem;
        }
    }
}
