@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    height: $header-height;
    background-color: $primary-color;
    @include flex-center;
}
