.nav {
    background-color: rgba(255, 247, 247, 0.676);

    &__navbar {
        height: 100%;
        display: flex;
        width: min(1200px, 100%);
        margin: 0 auto;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding: 0 var(--padding_left_right);
        gap: 1em;
    }

    &__menu_hamburguesa{
        display: none;
    }

    @media (min-width:768px) {
        &__labe_hamburguesa {
            display: none;
        }
    }
}